<h1>Thanks <%= @order.first_name %>,</h1>
<p>Your order has been completed. </p>

<p><strong>Here's what you bought</strong></p>
<% @order.order_items.each do |item| %>
  <li><%= item.quantity %> <%= item.product.title %> at <%= number_to_currency item.product.price_in_pounds, unit: "£" %> each. </li>
<% end %>

<button>
  <%= link_to "Back to home", root_path %>
</button>
